/* mixins
   ========================================================================== */

// mixin background-image
@mixin bg-img($file) {
    background-image: url($img + $file);
}

// media queries
// mobile first mode
// usage :
//  @include from-sm {
//      margin-top: 15px;
//  }
// @mixin from-xs {
//     @media (min-width: $screen-xs) {
//         @content;
//     }
// }

// @mixin from-sm {
//     @media (min-width: $screen-sm) {
//         @content;
//     }
// }

@mixin mobile {
    @media (max-width: $screen-md) {
        @content;
    }
}

// @mixin from-lg {
//     @media (min-width: $screen-lg) {
//         @content;
//     }
// }

// @mixin from-xlg {
//     @media (min-width: $screen-xlg) {
//         @content;
//     }
// }