<footer id="footer" class="c-footer layout__footer">
    <div class="container">
        <button class="c-footer__btn">
            <img class="c-footer__btn_border c-footer__btn_border--left" src="img/footer-left.svg" alt="">
            <span class="c-footer__btn_content">
                <img class="c-footer__btn_arrow" src="img/picto-arrow-down.svg" alt="">
                <span class="c-footer__btn_text">Contacter</span>
            </span>
            <img class="c-footer__btn_border c-footer__btn_border--right" src="img/footer-right.svg" alt="">
        </button>
    </div>
</footer>