<header id="header" class="c-header layout__header">
    <div class="container container--header">
        <div class="c-header__content">
            <button class="c-header__toggle">
                <img class="c-header__toggle_picto" src="img/picto-menu.svg" alt="">
            </button>
            <a class="c-header__logo" href="index.html">
                <img class="c-header__logo_img" src="img/logo-club-med.svg" alt="Club Med">
            </a>
            <nav class="c-header__nav">
                <ul class="c-header__nav_list">
                    <li class="c-header__nav_item">
                        <a class="c-header__nav_link" href="#">Découvrir Club Med</a>
                    </li>
                    <li class="c-header__nav_item">
                        <a class="c-header__nav_link" href="#">Destinations</a>
                    </li>
                    <li class="c-header__nav_item">
                        <a class="c-header__nav_link" href="#">Où aller ?</a>
                    </li>
                    <li class="c-header__nav_item">
                        <a class="c-header__nav_link" href="#">Nos produits</a>
                    </li>
                    <li class="c-header__nav_item">
                        <a class="c-header__nav_link" href="#">Nos offres</a>
                    </li>
                    <li class="c-header__nav_item c-header__nav_item--pink">
                        <a class="c-header__nav_link" href="#">Black Friday</a>
                    </li>
                </ul>
            </nav>
            <div class="c-header__subnav">
                <ul class="c-header__subnav_list">
                    <li class="c-header__subnav_item">
                        <a class="c-header__subnav_link" href="#">
                            <img class="c-header__subnav_picto" src="img/picto-search.svg" alt="Recherche">
                        </a>
                    </li>
                    <li class="c-header__subnav_item">
                        <a class="c-header__subnav_link" href="#">
                            <img class="c-header__subnav_picto" src="img/picto-phone.svg" alt="Téléphone">
                        </a>
                    </li>
                    <li class="c-header__subnav_item">
                        <a class="c-header__subnav_link" href="#">
                            <img class="c-header__subnav_picto c-header__subnav_picto--account" src="img/picto-account.svg" alt="Espace client">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>