<div class="c-layer__goback">
    <button class="c-layer__goback_btn js-updateinfo" data-info="close">Choisissez un transport</button>
</div>
<div class="c-form">
    <div class="c-layer__wrap">
        <div class="c-layer__title">Voulez-vous prendre un transport ?</div>
        <div class="c-form__group">
            <select class="c-select c-btn c-btn--lg c-btn--picto js-updateinfo__transport">
                <option value="0" selected>Sans transport</option>
                <option value="1">Paris</option>
                <option value="2">Bordeaux</option>
                <option value="3">Brest</option>
                <option value="4">Lyon</option>
                <option value="5">Marseille</option>
            </select>
        </div>
        <div class="c-layer__info">
            <img class="c-layer__info_picto" src="img/picto-info.svg" alt="">
            <div class="c-layer__info_text">Le transfert de l’aeroport au resort est inclus dans le transport</div>
        </div>
    </div>
</div>
<div class="c-layer__close">
    <button class="c-layer__close_btn c-btn c-btn--lg js-updateinfo" data-info="close">OK</button>
</div>