<div class="c-layer__wrap c-layer__wrap--length js-updateinfo__length">
    <div class="c-form__group">
        <button class="c-btn c-btn--lg c-btn--picto" type="button">
            <span class="c-btn__text">7 nuits</span>
            <img class="c-btn__picto c-btn__picto--arrow" src="img/picto-arrow-down.svg" alt="">
        </button>
    </div>
</div>
<div class="c-datepicker c-datepicker--compare js-calendar js-updateinfo__calendar">
    <div class="c-datepicker__bestprice">&bull;&nbsp;&nbsp;Meilleurs prix</div>
</div>
<div class="c-layer__close">
    <button class="c-layer__close_btn c-btn c-btn--lg js-updateinfo" data-info="close">OK</button>
</div>