<div class="c-travelers">
    <div class="c-layer__title">Combien de participants pour votre séjour ?</div>
    <div class="c-form__group">
        <div class="c-travelers__wrap">
            <div class="c-travelers__item">
                <div class="c-travelers__text">Adultes</div>
                <div class="c-travelers__nb js-updateinfo__adults">
                    <button class="c-travelers__nb_less c-btn c-btn--travelers js-updateinfo__less" disabled>-</button>
                    <span class="c-travelers__nb_value js-updateinfo__value">0</span>
                    <button class="c-travelers__nb_more c-btn c-btn--travelers js-updateinfo__more">+</button>
                </div>
            </div>
            <div class="c-travelers__item">
                <div class="c-travelers__text">Enfants<span class="c-travelers__text_sub">Moins de 18 ans</span></div>
                <div class="c-travelers__nb js-updateinfo__children">
                    <button class="c-travelers__nb_less c-btn c-btn--travelers js-updateinfo__less" disabled>-</button>
                    <span class="c-travelers__nb_value js-updateinfo__value">0</span>
                    <button class="c-travelers__nb_more c-btn c-btn--travelers js-updateinfo__more">+</button>
                </div>
            </div>
        </div>
    </div>
</div>