<div class="c-layer__goback">
    <button class="c-layer__goback_btn js-updateinfo" data-info="close">Voyager avec</button>
</div>
<div class="c-layer__wrap">
    <img class="c-layer__filter" src="img/layer-voyageravec.jpg" alt="">
</div>
<div class="c-layer__close">
    <button class="c-layer__close_btn c-btn c-btn--lg js-updateinfo" data-info="close">OK</button>
</div>