<div class="c-layer__goback">
    <button class="c-layer__goback_btn js-updateinfo" data-info="close">Choisissez une date</button>
</div>
<div class="c-form">
    <div class="c-layer__wrap">
        <div class="c-layer__title">Sélectionner le nombre de nuits et la date de départ de votre voyage</div>
        <div class="c-form__group">
            <button class="c-btn c-btn--lg c-btn--picto" type="button">
                <span class="c-btn__text">7 nuits</span>
                <img class="c-btn__picto c-btn__picto--arrow" src="img/picto-arrow-down.svg" alt="">
            </button>
        </div>
    </div>
    <div class="c-datepicker js-calendar js-updateinfo__calendar"></div>
</div>
<div class="c-layer__close">
    <button class="c-layer__close_btn c-btn c-btn--lg js-updateinfo" data-info="close">OK</button>
</div>