/* color variables
   ========================================================================== */

// color variables name
$color__black: #000000 !default;
$color__white: #ffffff !default;
$color__blue: #00558a !default;
$color__grey: #504747 !default;
$color__light-grey: #998E8E !default;
$color__light-grey2: #9B9B9B !default;
$color__pink: #C35078 !default;
$color__bd-grey: #D4D1D1 !default;
$color__green: #14A53A !default;
$color__bg-light: #F1F1F1 !default;
$color__light-blue: #13A3C0 !default;
$color__radio-grey: #DDDCDC !default;
$color__shamrock: #30C6A4 !default;