/* fonts
   ========================================================================== */

// font Trebuchet MS 400
@font-face {
  font-family: "Trebuchet MS";
  src: url($fonts + "trebuchet-ms/trebuchet-ms-400.woff2") format("woff2"),
       url($fonts + "trebuchet-ms/trebuchet-ms-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

// font Trebuchet MS 700
@font-face {
  font-family: "Trebuchet MS";
  src: url($fonts + "trebuchet-ms/trebuchet-ms-700.woff2") format("woff2"),
       url($fonts + "trebuchet-ms/trebuchet-ms-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}