/* global variables
   ========================================================================== */

// fonts
$font-main: 'Trebuchet MS', Arial, sans-serif !default;
$font-stack-monospace: consolas, courier, monospace !default;
$font-icons: "icons";

$font-size-reset: 62.5% !default;
$font-size-regular: 1.6rem !default;

$line-height: 1.2 !default;

// breakpoints
// $screen-xs: 30em !default; // = 480px
// $screen-sm: 48em !default; // = 768px
$screen-md: 62em !default; // = 992px
// $screen-lg: 75em !default; // = 1200px
// $screen-xlg: 100em !default; // = 1600px

// global variables ress
$fonts: "fonts/" !default;
$img: "img/" !default;

// font size
$fz8: 0.5em !default;
$fz9: 0.563em !default;
$fz10: 0.625em !default;
$fz11: 0.688em !default;
$fz12: 0.75em !default;
$fz13: 0.813em !default;
$fz14: 0.875em !default;
$fz15: 0.938em !default;
$fz16: 1em !default;
$fz17: 1.063em !default;
$fz18: 1.125em !default;
$fz19: 1.188em !default;
$fz20: 1.25em !default;
$fz21: 1.313em !default;
$fz22: 1.375em !default;
$fz23: 1.438em !default;
$fz24: 1.5em !default;
$fz25: 1.563em !default;
$fz26: 1.625em !default;
$fz27: 1.688em !default;
$fz28: 1.75em !default;
$fz29: 1.813em !default;
$fz30: 1.875em !default;
$fz31: 1.938em !default;
$fz32: 2em !default;
$fz33: 2.063em !default;
$fz34: 2.125em !default;
$fz35: 2.188em !default;
$fz36: 2.25em !default;
$fz60: 3.75em !default;

// other
$transition: all 400ms ease;