/* block
   ========================================================================== */

$c: '.c-block';

#{$c} {
    margin-top: 30px;

    &--dashed-wrap {
        padding: 20px;
        border: 1px dashed $color__grey;
        border-radius: 8px;

        @include mobile {
            padding: 20px 0;
        }
    }

    &__title {
        color: $color__grey;
        font-size: $fz20;
        text-align: center;
    }

    &__tabs {
        margin-top: 20px;

        @include mobile {
            margin: {
                left: -1px;
                right: -1px;
            }
        }

        &_list {
            list-style: none;
            display: flex;
            width: 100%;
            padding: 0;
        }

        &_item {
            flex: 1;
            height: 100px;

            &:nth-child(2) {
                #{$c} {
                    &__tabs_link {
                        width: auto;
                        margin: 0 -1px;
                    }
                }
            }
        }

        &_link {
            background-color: #F8F8F8;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 10px 10px 20px;
            border: 1px solid $color__bd-grey;
            border-radius: 8px 8px 0 0;
            text-align: center;
            cursor: pointer;

            &[aria-selected="true"] {
                background-color: $color__white;
                position: relative;
                z-index: 1;
                border-bottom-color: $color__white;
                box-shadow: 0 0 5px 0 rgba($color__grey, 0.5);
            }

            &[aria-disabled="true"] {
                display: none;
            }
        }

        &_text {
            display: block;
            color: $color__grey;
            font-size: $fz14;
            font-weight: bold;
            text-align: center;

            &--big {
                font-size: $fz20;
                text-transform: uppercase;

                @include mobile {
                    font-size: $fz16;
                }
            }

            &--price {
                position: absolute;
                left: 0;
                bottom: 12px;
                display: block;
                width: 100%;
                color: $color__blue;
                font-weight: bold;
                text-align: center;
            }
        }

        &_panelwrap {
            background-color: $color__white;
            position: relative;
            padding: 20px 0;
            border: 1px solid $color__bd-grey;
            border-top-color: $color__white;
            border-radius: 8px;
            margin-top: -5px;
            box-shadow: 0 0 5px 0 rgba($color__grey, 0.5);

            &::before {
                content: '';
                background-color: $color__white;
                position: absolute;
                z-index: 2;
                left: 0;
                top: -1px;
                display: block;
                width: 100%;
                height: 10px;
                border-radius: 8px;
            }
        }

        &_panel {
            &[aria-hidden="true"] {
                display: none;
            }
        }
    }

    &__box {
        background-color: $color__white;
        padding: 20px;
        border: 1px solid $color__bd-grey;
        border-radius: 8px;
        box-shadow: 0 0 5px 0 rgba($color__grey, 0.5);
        margin-top: 20px;

        @include mobile {
            margin: {
                left: -1px;
                right: -1px;
            }
        }

        &--bordertop {
            border-top: 7px solid $color__light-blue;
        }

        &--pan {
            padding: 0;
        }
    }

    &__top {
        background-color: $color__blue;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-radius: 8px 8px 0 0;

        &_logo {
            width: 120px;
        }
    }

    &__wrap {
        padding: 20px;
    }
}