/* checkbox
   ========================================================================== */

$c: '.c-checkbox';

#{$c} {
    position: relative;

    &--classic {
        #{$c} {
            &__input {
                @extend %u-sr-only;

                &:checked {
                    + #{$c}__label {
                        &::before {
                            border-color: $color__blue;
                        }

                        &::after {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }

            &__label {
                position: relative;
                display: block;
                padding-left: 28px;
                color: $color__grey;
                font-size: $fz14;
                line-height: 1.3;
                cursor: pointer;
                transition: $transition;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    display: block;
                }

                &::before {
                    background-color: $color__white;
                    left: 0;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $color__grey;
                    border-radius: 6px;
                    transition: $transition;
                }

                &::after {
                    background-color: $color__blue;
                    left: 4px;
                    top: 4px;
                    width: 12px;
                    height: 12px;
                    border-radius: 4px;
                    opacity: 0;
                    transform: scale(0);
                    transition: $transition;
                }
            }
        }
    }

    &--switch {
        #{$c} {
            &__input {
                @extend %u-sr-only;

                &:checked + #{$c}__label {
                    &::before {
                        right: 3px;
                        box-shadow: -1px 2px 2px 0 rgba($color__grey, 0.4);

                        @include mobile {
                            right: auto;
                            margin-left: 0;
                        }
                    }

                    &::after {
                        background-color: $color__green;
                    }
                }
            }

            &__label {
                position: relative;
                display: block;
                color: $color__grey;
                font-weight: bold;
                cursor: pointer;

                @include mobile {
                    padding-bottom: 40px;
                    font-size: $fz12;
                }

                &::before,
                &::after {
                    transition: $transition;
                }

                &::before {
                    content: '';
                    background-color: $color__white;
                    position: absolute;
                    right: 30px;
                    top: 2px;
                    display: block;
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;

                    @include mobile {
                        position: absolute;
                        z-index: 1;
                        left: 50%;
                        right: auto;
                        top: auto;
                        bottom: 3px;
                        margin: 0 0 0 -26px;
                    }
                }

                &::after {
                    content: '';
                    background-color: $color__grey;
                    display: inline-block;
                    vertical-align: middle;
                    width: 60px;
                    height: 32px;
                    border-radius: 16px;
                    margin-left: 10px;
                    margin-top: -1px;

                    @include mobile {
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        margin: 0 0 0 -30px;
                    }
                }
            }
        }
    }
}