/* children
   ========================================================================== */

$c: '.c-children';

#{$c} {
    background-color: $color__bg-light;
    position: relative;
    display: none;
    padding: 20px;
    border-top: 1px solid $color__blue;
    border-radius: 0 0 10px 10px;
    margin-top: -10px;

    @include mobile {
        margin-top: 0;
    }

    &__arrow {
        position: absolute;
        right: 75px;
        top: -10px;
        height: 10px;

        @include mobile {
            right: 50%;
            margin-right: -60px;
        }

        .st0 {
            filter: none;
        }

        .st1 {
            fill: $color__bg-light;
        }
    }

    &__title {
        max-width: 260px;
        color: $color__grey;

        @include mobile {
            margin: 0 auto;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;

        @include mobile {
            flex-direction: column;
        }
    }

    &__item {
        display: none;
        padding: 0;
        border: 0;
        margin: 0;

        @include mobile {
            margin: 30px auto 0;

            &:first-child {
                margin-top: 0;
            }
        }

        &.on {
            display: block;
        }

        &_fields {
            background-color: $color__white;
            position: relative;
            max-width: 260px;
            height: 50px;
            padding: 0;
            border: 1px solid $color__bd-grey;
            border-radius: 5px;
            margin: 0;

            &::before, &::after {
                content: '/';
                position: absolute;
                top: 16px;
                color: $color__grey;
                font-size: $fz14;
            }

            &::before {
                left: 32%;
            }

            &::after {
                right: 32%;
            }
        }

        &_field {
            float: left;
            width: 33.3333%;
            height: 100%;
            padding: 15px;
            border: 0;
            border-radius: 5px;
            color: $color__grey;
            font-size: $fz14;
            text-align: center;
        }

        &_childcare {
            max-width: 260px;
        }
    }
}