/* compare
   ========================================================================== */

$c: '.c-compare';

#{$c} {
    margin-top: -121px;

    @include mobile {
        margin-top: 30px;
    }

    &__fields {
        display: flex;
        flex-direction: row;
        margin: 0 -10px;

        @include mobile {
            flex-direction: column;
        }

        &_wrap {
            flex: 1;
            padding: 5px 0 15px;
            margin: 0 10px;

            &.c-layer--static {
                @include mobile {
                    display: none;

                    &.on {
                        display: block;
                    }
                }
            }


            &.reset {
                #{$c} {
                    &__reset-fields,
                    &__reset-cta {
                        display: block;
                    }

                    &__main-fields,
                    &__main-cta,
                    &__fields_reinit {
                        display: none;
                    }
                }
            }
        }

        &_block {
            height: 100%;
        }

        &_content {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &_reset {
            display: none;
        }

        &_top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            @include mobile {
                justify-content: center;
                padding-left: 15px;
            }
        }

        &_title {
            color: $color__blue;
            font-size: $fz26;

            @include mobile {
                display: none;
            }
        }

        &_reinit {
            position: relative;
            color: $color__light-blue;
            font-weight: bold;

            &:hover, &:focus {
                color: $color__blue;

                g {
                    fill: $color__blue;
                }
            }

            &_picto {
                position: absolute;
                left: -20px;
                width: 15px;
            }
        }
    }

    &__main-fields {
        @include mobile {
            margin: {
                left: -2%;
                right: -2%;
            }

            > .easy-autocomplete {
                margin: 0 2%;
            }

            .c-btn--picto {
                float: left;
                width: 29.3333%;
                margin: 10px 2% 0;

                .c-btn__picto {
                    width: 20px;
                    margin: 0;
                }

                .c-btn__text,
                .c-btn__picto--arrow,
                .c-btn__picto--close {
                    display: none !important;
                }
            }
        }
    }

    &__reset-fields,
    &__reset-cta {
        display: none;
    }

    &__reset-fields {
        flex: 1;
        margin-top: 20px;

        @include mobile {
            margin-top: 0;
        }
    }

    &__main-cta {
        &[disabled] {
            background-color: $color__light-grey2 !important;
        }
    }

    &__details {
        display: flex;
        flex-direction: row;
        margin: 0 -10px;

        &_col {
            flex: 1;
            max-width: 33.3333%;
            padding: 0 10px;
            margin: 35px 0;

            @include mobile {
                display: none;
                max-width: 100%;

                &.on {
                    display: block;
                }
            }

            &.reset {
                #{$c} {
                    &__details {
                        &_intro,
                        &_cta,
                        &_room,
                        &_flight,
                        &_children {
                            display: none;
                        }

                        &_empty {
                            display: block;
                        }
                    }
                }
            }

            &.no-transport {
                #{$c} {
                    &__details_flight {
                        min-height: 664px;

                        @include mobile {
                            min-height: 175px;
                        }

                        &::before {
                            content: 'Vous n’avez pas choisi de vol pour ce trajet';
                            display: block;
                            max-width: 220px;
                            margin: 40px auto 0;
                            color: $color__light-grey;
                            font-size: $fz20;
                            text-align: center;
                        }

                        .c-block__title,
                        .c-block__box,
                        .c-paragraph {
                            display: none;
                        }
                    }
                }
            }
        }

        &_cta {
            margin: 30px 10px 0;

            &--mobile {
                display: none;

                @include mobile {
                    display: block;
                }
            }

            &_btn {
                width: 95%;
                margin: 0 auto;
            }
        }

        &_empty {
            display: none;
            height: 950px;
            margin-top: 0;

            &_nb {
                color: $color__bd-grey;
                font-size: 288px;
                text-align: right;
            }
        }
    }

    &__babyclub {
        display: none;

        &.on {
            display: flex;
        }
    }
}