/* comparetabs
   ========================================================================== */

$c: '.c-comparetabs';

#{$c} {
    display: none;

    @include mobile {
        display: block;
        margin-top: -30px;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0 -6px;
    }

    &__item {
        flex: 1;
        margin: 0 6px;
    }

    &__btn {
        background-color: $color__white;
        position: relative;
        flex-direction: column;
        width: 100%;
        min-height: 60px;
        padding: 10px;
        color: $color__blue;
        font-size: $fz16;
        font-weight: bold;
        text-transform: none;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 12px 0 12px;
            border-color: $color__white transparent transparent transparent;
            margin-left: -12px;
            transition: $transition;
        }

        &:hover, &:focus {
            background-color: $color__white;
            color: $color__blue;
        }

        &.on {
            background-color: $color__blue;
            color: $color__white;

            &::after {
                bottom: -6px;
                border-color: $color__blue transparent transparent transparent;
            }
        }

        &_text {
            &--price {
                margin-top: 5px;
                font-weight: normal;
            }
        }
    }
}