/* datepicker
   ========================================================================== */

$c: '.c-datepicker';

#{$c} {
    position: relative;

    &--compare {
        padding: 5px 20px;
        border-radius: 0 0 10px 10px;
    }

    &__bestprice {
        position: absolute;
        left: 38px;
        bottom: 20px;
        display: none;
        color: $color__shamrock;
        font-size: $fz14;
        font-weight: bold;
    }

    .datepicker {
        width: 100%;
        border: 0;
        border-radius: 10px;
        font-family: $font-main;

        &--nav {
            border-bottom: 0;
        }

        &--content {
            padding: 0;
        }

        &--days-names {
            padding: 0 5px 8px;
            border-bottom: 1px solid $color__bd-grey;
        }

        &--day-name {
            color: $color__grey;
            font-size: $fz14;
        }

        &--nav-title {
            color: $color__grey;
            font-size: 16px;
            font-weight: bold;
        }

        &--cells {
            padding: 5px;
        }

        &--cell {
            height: 40px;
            border-radius: 10px;
            color: $color__light-grey;
            font-weight: bold;

            &.-disabled-,
            &.-current- {
                color: #E5E4E4;

                &:hover {
                    background: none;
                    color: #E5E4E4;
                }
            }

            &.-selected- {
                background-color: #00A5C4;
                color: $color__white;
            }
        }

        &--cell-day.-other-month-,
        &--cell-year.-other-decade- {
            color: #E5E4E4;
        }
    }
}