/* filters
   ========================================================================== */

$c: '.c-filters';

#{$c} {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid $color__bd-grey;
    margin-top: 28px;

    @include mobile {
        border-top: 1px solid $color__bd-grey;
        margin: {
            left: -15px;
            right: -15px;
        }
    }

    &__picto {
        background-color: $color__white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 100%;
        border-right: 1px solid $color__bd-grey;

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            right: 0;
            top: 10%;
            display: block;
            width: 0;
            height: 80%;
            box-shadow: 1px 0px 5px 1px rgba($color__grey, 0.3);
        }

        &_img {
            width: 22px;
        }
    }

    &__content {
        overflow: hidden;
        flex: 1;
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    &__wrap {
        overflow: hidden;
        position: relative;
        z-index: 1;
        height: 100%;

        @include mobile {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        // slick override
        .slick-track {
            height: 100%;
        }

        .slick-list {
            height: 100%;
        }

        .slick-slide {
            display: flex;

            &:focus {
                outline-offset: -5px;
            }
        }
    }

    &__item {
        background: none;
        appearance: none;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        height: 100%;
        padding: 6px 15px;
        border: 0;

        &::before {
            content: '';
            background-color: $color__bd-grey;
            position: absolute;
            left: 0;
            top: 15%;
            display: block;
            width: 1px;
            height: 70%;
        }

        &:first-child {
            &::before {
                display: none;
            }
        }

        &:hover, &:focus {
            #{$c} {
                &__item_text {
                    color: $color__blue;
                }
            }
        }

        &_picto {
            width: 18px;
            max-height: 20px;
            margin-right: 10px;

            @include mobile {
                display: none;
            }

            &--arrow {
                width: 12px;
                margin-left: 15px;
                margin-right: 0;
            }
        }

        &_text {
            color: $color__grey;
            font-weight: bold;
            white-space: nowrap;
            transition: $transition;
        }
    }

    &__buttons {
        background-color: $color__white;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        padding: 0 10px;
        border-left: 1px solid $color__bd-grey;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            top: 10%;
            display: block;
            width: 0;
            height: 80%;
            box-shadow: -1px 0px 5px 1px rgba($color__grey, 0.3);
        }

        &_item {
            background-color: $color__blue;
            appearance: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            padding: 0;
            border: 0;
            border-radius: 50%;

            &--prev {
                padding-right: 2px;
            }

            &--next {
                padding-left: 2px;
                margin-left: 5px;
            }

            &.slick-disabled {
                background-color: $color__light-grey;
            }
        }

        &_picto {
            width: 6px;

            g {
                fill: $color__white;
            }
        }
    }

    &__sort {
        background: none;
        appearance: none;
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        height: 100%;
        padding: 0 0 0 8px;
        border: 0;
        text-decoration: none;

        &--desktop {
            @include mobile {
                display: none;
            }
        }

        &--mobile {
            float: right;
            display: none;
            margin-top: 10px;

            @include mobile {
                display: flex;
            }
        }

        &_text {
            color: $color__grey;
            font-size: $fz14;
        }

        &_value {
            color: $color__blue;
        }

        &_arrow {
            width: 12px;
            margin-left: 8px;
            margin-top: 4px;

            g {
                fill: $color__blue;
            }
        }
    }
}