/* footer
   ========================================================================== */

$c: '.c-footer';

#{$c} {
    width: 100%;
    padding-top: 40px;
    border-bottom: 5px solid $color__grey;

    &__btn {
        background: none;
        appearance: none;
        overflow: hidden;
        display: block;
        padding: 0;
        border: 0;

        &_border {
            float: left;
            height: 40px;
        }

        &_content {
            background-color: $color__grey;
            float: left;
            display: flex;
            align-items: center;
            height: 40px;
            padding: 7px 25px 4px 10px;
        }

        &_arrow {
            width: 12px;
            margin-right: 12px;

            g {
                fill: $color__white;
            }
        }

        &_text {
            color: $color__white;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}