/* header
   ========================================================================== */

$c: '.c-header';

#{$c} {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;

    &__content {
        background-color: $color__white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        height: 80px;

        @include mobile {
            height: 60px;
        }
    }

    &__toggle {
        background-color: $color__white;
        appearance: none;
        display: none;
        width: 50px;
        height: 100%;
        padding: 22px 14px;
        border: 1px solid $color__bd-grey;
        border-width: 0 1px;
        margin: 0;

        @include mobile {
            display: block;
        }
    }

    &__logo {
        margin-left: 42px;

        @include mobile {
            margin-left: 10px;
        }

        &_img {
            width: 158px;

            @include mobile {
                width: 101px;
            }
        }
    }

    &__nav {
        height: 100%;

        @include mobile {
            display: none;
        }

        &_list {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            padding: 0;
        }

        &_item {
            height: 100%;
            font-size: $fz13;
            font-weight: bold;
            text-transform: uppercase;

            &--pink {
                #{$c} {
                    &__nav_link {
                        color: $color__pink;
                    }
                }
            }
        }

        &_link {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 16px;
            text-decoration: none;
            color: $color__grey;
            transition: $transition;

            &:hover, &:focus {
                color: $color__blue;
            }
        }
    }

    &__subnav {
        margin-right: 12px;

        @include mobile {
            margin-right: 0;
        }

        &_list {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
        }

        &_link {
            display: block;
            padding: 18px;
            color: $color__grey;

            &:hover, &:focus {
                color: $color__blue;
            }

            @include mobile {
                padding: 18px 15px;
            }
        }

        &_picto {
            height: 18px;
            fill: currentColor;
            transition: $transition;

            g {
                fill: currentColor;
            }

            &--account {
                path {
                    stroke: currentColor;
                }
            }
        }
    }
}