/* layer
   ========================================================================== */

$c: '.c-layer';

#{$c} {
    background-color: $color__white;
    position: absolute;
    z-index: 10;
    display: none;
    border: 1px solid $color__bd-grey;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba($color__grey, 0.2);

    @include mobile {
        background-color: $color__bg-light;
        position: fixed;
        left: 0 !important;
        top: 0 !important;
        overflow: auto;
        width: 100% !important;
        min-width: 320px;
        height: 100%;
        border-radius: 0;
        border: 0;
    }

    &::before {
        content: '';
        background: url($img + 'picto-popover.svg') scroll no-repeat 0 0 transparent;
        position: absolute;
        top: -10px;
        left: 50%;
        display: block;
        width: 20px;
        height: 10px;
        margin-left: -10px;
    }

    &--bd-blue {
        border-color: $color__blue;

        &::before {
            background-image: url($img + 'picto-popover-blue.svg');
        }
    }

    &--calendar {
        width: 300px;

        @include mobile {
            .datepicker {
                background-color: $color__bg-light;
                width: auto;
                padding: 0 15px;

                &--cell-day.-other-month-,
                &--cell-year.-other-decade-,
                &--cell.-disabled- {
                    color: $color__bd-grey;
                }
            }
        }
    }

    &--compare-calendar {
        width: 338px;
        border-radius: 0 0 10px 10px;

        @include mobile {
            .datepicker {
                background-color: $color__bg-light;
                width: auto;

                &--cell-day.-other-month-,
                &--cell-year.-other-decade-,
                &--cell.-disabled- {
                    color: $color__bd-grey;
                }
            }
        }

        &.checkbox-on {
            #{$c} {
                &__wrap--length {
                    display: block;
                }
            }

            .c-datepicker {
                padding-bottom: 40px;

                &--compare {
                    background-color: $color__white;
                    border-top: 0;

                    @include mobile {
                        background-color: $color__bg-light;
                    }

                    .datepicker {
                        background-color: $color__white;

                        @include mobile {
                            background-color: $color__bg-light;
                        }
                    }
                }

                &__bestprice {
                    display: block;
                }

                .datepicker {
                    &--cell {
                        &[data-date="12"]:not(.-other-month-),
                        &[data-date="20"]:not(.-other-month-) {
                            position: relative;
                            color: $color__shamrock;

                            &::after {
                                content: '';
                                background-color: $color__shamrock;
                                position: absolute;
                                left: 50%;
                                bottom: 6px;
                                display: block;
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                margin-left: -2.5px;
                            }
                        }

                        &.-selected- {
                            height: 34px;
                            margin-top: 3px;
                            border-radius: 6px 0 0 6px;
                            color: $color__white !important;

                            &::after {
                                background-color: $color__white !important;
                                bottom: 3px !important;
                            }

                            + .datepicker--cell {
                                background-color: rgba($color__light-blue, 0.6);
                                height: 34px;
                                border-radius: 0;
                                margin-top: 3px;
                                color: $color__white;

                                + .datepicker--cell {
                                    background-color: rgba($color__light-blue, 0.6);
                                    height: 34px;
                                    border-radius: 0;
                                    margin-top: 3px;
                                    color: $color__white;

                                    + .datepicker--cell {
                                        background-color: rgba($color__light-blue, 0.6);
                                        height: 34px;
                                        border-radius: 0;
                                        margin-top: 3px;
                                        color: $color__white;

                                        + .datepicker--cell {
                                            background-color: rgba($color__light-blue, 0.6);
                                            height: 34px;
                                            border-radius: 0;
                                            margin-top: 3px;
                                            color: $color__white;

                                            + .datepicker--cell {
                                                background-color: rgba($color__light-blue, 0.6);
                                                height: 34px;
                                                border-radius: 0;
                                                margin-top: 3px;
                                                color: $color__white;

                                                + .datepicker--cell {
                                                    background-color: rgba($color__light-blue, 0.6);
                                                    height: 34px;
                                                    border-radius: 0;
                                                    margin-top: 3px;
                                                    color: $color__white;

                                                    + .datepicker--cell {
                                                        background-color: $color__light-blue;
                                                        height: 34px;
                                                        border-radius: 0 6px 6px 0;
                                                        margin-top: 3px;
                                                        color: $color__white;

                                                        &::after {
                                                            background-color: $color__white !important;
                                                            bottom: 3px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &--addcompare {
        margin-left: 195px;
        margin-top: 32px;

        @include mobile {
            margin: 0;
        }
    }

    &--travelers {
        width: 620px;

        &[data-info="travelers-a"],
        &[data-info="travelers-b"],
        &[data-info="travelers-c"] {
            width: 338px;

            .c-travelers {
                flex-direction: column;

                &__item {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &--compare-travelers {
        .c-travelers {
            &__wrap {
                flex-direction: column;
            }
        }

        .c-children {
            &__arrow {
                right: 108px;
            }

            &__title {
                margin: 0 auto;
            }

            &__wrap {
                flex-direction: column;
                margin-top: 15px;
            }

            &__item {
                margin-top: 30px;

                &:first-child {
                    margin-top: 0;
                }

                &_fields,
                &_childcare {
                    margin: {
                        left: auto;
                        right: auto;
                    }
                }
            }
        }
    }

    &--transport {
        width: 310px;
    }

    &--static {
        position: relative;
        top: auto;
        display: block;

        @include mobile {
            background-color: $color__white;
            overflow: visible;
            width: auto !important;
            min-width: 0;
            border: 1px solid $color__bd-grey;
            border-radius: 10px;
            box-shadow: 0 0 3px 0 rgba($color__grey, 0.2);

            &::before {
                display: none;
            }
        }
    }

    &--arrow-bottom {
        &::before {
            top: auto;
            bottom: -10px;
            transform: scale(-1);
        }
    }

    &--filter {
        background-color: lighten($color__bg-light, 3%);
    }

    &--voyager-avec,
    &--etat-esprit,
    &--envies {
        &::before {
            display: none;
        }
    }

    &__picto {
        position: absolute;
        z-index: 11;
        display: block;
        width: 20px;
        height: 10px;
        margin-top: -9px;

        @include mobile {
            display: none;
        }
    }

    &__wrap {
        padding: 20px;

        &--length {
            display: none;
        }

        + #{$c}__wrap {
            padding-top: 0;
        }
    }

    &__title {
        color: $color__grey;
        font-weight: bold;
        text-align: center;

        &--blue {
            color: $color__blue;
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;

        &_picto {
            width: 25px;
            margin-right: 15px;
        }

        &_text {
            color: $color__light-grey;
            font-size: $fz12;
        }
    }

    &__goback,
    &__close {
        display: none;

        @include mobile {
            display: block;
        }
    }

    &__goback {
        &_btn {
            background: url($img + 'picto-arrow-goback.svg') scroll no-repeat 15px center $color__white;
            background-size: 20px;
            appearance: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 60px;
            padding: 10px 40px;
            border: 1px solid $color__bd-grey;
            border-width: 0 0 1px;
            color: $color__blue;
        }
    }

    &__close {
        padding: 0 15px;
        margin-top: 15px;

        &_btn {
            margin-left: auto;
        }
    }

    &__overlay {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &.on {
            z-index: 9;
        }
    }
}