/* main
   ========================================================================== */

$c: '.c-main';

#{$c} {
    &--listing {
        #{$c} {
            &__banner {
                padding-bottom: 39px;
            }

            &__title {
                max-width: 650px;

                @include mobile {
                    max-width: 300px;
                }
            }
        }

        + .c-footer {
            @include mobile {
                display: none;
            }
        }
    }

    &--compare {
        #{$c} {
            &__banner {
                padding-bottom: 121px;

                @include mobile {
                    padding-bottom: 30px;
                }
            }

            &__title {
                max-width: 770px;
            }
        }
    }

    &__banner {
        background: url('img/header-banner.jpg') no-repeat center center transparent;
        background-size: cover;
        height: 430px;
        padding: {
            top: 80px;
        }

        @include mobile {
            height: 240px;
            padding-top: 60px;
        }
    }

    &__title-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    &__backlink {
        display: inline-block;
        margin-bottom: 10px;
        color: $color__white;
        text-decoration: none;

        &:hover, &:focus {
            color: $color__white;
            text-decoration: underline;
        }
    }
}