/* paragraph
   ========================================================================== */

$c: '.c-paragraph';

#{$c} {
    margin-top: 20px;

    &--center {
        text-align: center;
    }

    &__title {
        color: $color__blue;
        font-size: $fz20;
        line-height: 1;
    }
}