/* radio
   ========================================================================== */

$c: '.c-radio';

#{$c} {
    @extend %u-sr-only;

    + .c-label {
        position: relative;
        display: block;
        padding-left: 36px;
        color: $color__radio-grey;
        font-weight: bold;
        line-height: 1.3;
        cursor: pointer;
        transition: $transition;

        &::before, &::after {
            content: '';
            position: absolute;
            display: block;
            border-radius: 50%;
        }

        &::before {
            left: 0;
            top: -2px;
            width: 24px;
            height: 24px;
            border: 1px solid $color__radio-grey;
            transition: $transition;
        }

        &::after {
            background-color: $color__blue;
            left: 5px;
            top: 3px;
            width: 14px;
            height: 14px;
            opacity: 0;
            transform: scale(0);
            transition: $transition;
        }
    }

    &:checked {
        + .c-label {
            color: $color__grey;

            &::before {
                border-color: $color__blue;
            }

            &::after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}