/* results
   ========================================================================== */

$c: '.c-results';

#{$c} {
    position: relative;

    @include mobile {
        padding-bottom: 80px;
    }

    &__head {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;

        @include mobile {
            display: block;
            margin-top: 0;

            &::after {
                content: '';
                clear: both;
                display: table;
            }
        }
    }

    &__nb {
        color: $color__grey;
        font-size: $fz20;

        @include mobile {
            padding: 10px;
            box-shadow: 0 0 5px 0 rgba($color__grey, 0.6);
            margin: 0 -15px;
        }

        &_value {
            color: $color__blue;
        }
    }

    &__actions {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include mobile {
            background-color: $color__white;
            position: fixed;
            z-index: 1;
            left: -15px;
            right: -15px;
            bottom: 0;
            display: flex;
            justify-content: center;
            padding: 10px 0;
            box-shadow: 0 0 5px 0 rgba($color__grey, 0.6);
        }

        &_btn {
            padding-left: 25px;

            @include mobile {
                padding-left: 10px;
            }

            &_item {
                &.on {
                    #{$c} {
                        &__actions_btn_added {
                            display: inline;
                        }
                    }
                }
            }

            &_added {
                display: none;
            }
        }

        &_submit {
            width: 180px;

            @include mobile {
                width: 160px;
            }
        }
    }

    &__calendar {
        position: absolute;
        z-index: 1;
        right: 30px;
        top: 100%;
        display: none;
        margin-right: -150px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        min-height: 0;
        margin: 10px -10px 0;
        transition: $transition;

        @include mobile {
            flex-direction: column;
            align-items: center;
            padding-bottom: 30px;
        }
    }

    &__item {
        width: 25%;
        padding: 10px;

        @include mobile {
            width: 100%;
            max-width: 470px;
        }

        &_link {
            position: relative;
            display: block;

            &.added {
                #{$c} {
                    &__add {
                        opacity: 0;
                        transform: scale(0);
                    }

                    &__added {
                        opacity: 0.8;
                        transform: scale(1);
                    }
                }
            }
        }
    }

    &__add, &__added {
        position: absolute;
        display: none;
    }

    &__add {
        background-color: rgba($color__black, 0.5);
        top: 35px;
        left: 20px;
        right: 20px;
        padding: 16px 20px 10px;
        border-radius: 12px;
        opacity: 1;
        transition: $transition;

        @include mobile {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 65%;
        }

        &_text, &_plus {
            display: block;
            color: $color__white;
            font-weight: bold;
            text-align: center;
        }

        &_plus {
            font-size: 150px;
            line-height: 85px;
        }
    }

    &__added {
        background-color: $color__green;
        top: 30px;
        left: 80px;
        right: 80px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        opacity: 0;
        transform: scale(0);
        transition: $transition;

        @include mobile {
            left: 50%;
            top: 25%;
            margin-left: -60px;
        }

        &_img {
            display: block;
            width: 70px;
            margin: 40px auto 0;

            @include mobile {
                margin-top: 10px;
            }
        }
    }

    &.on {
        #{$c} {
            &__item_link {
                &:hover, &:focus {
                    #{$c} {
                        &__add {
                            background-color: rgba($color__black, 0.8);
                        }
                    }
                }
            }

            &__add, &__added {
                display: block;

                @include mobile {
                    display: flex;
                }
            }
        }
    }

    &.calendar-on {
        #{$c} {
            &__list {
                min-height: 480px;
            }
        }
    }
}