/* search
   ========================================================================== */

$c: '.c-search';

#{$c} {
    background-color: $color__white;
    overflow: hidden;
    height: 78px;
    border-radius: 6px;
    padding: 14px 10px;
    margin-top: -39px;
    box-shadow: 0 2px 8px 0 rgba($color__grey, 0.4);

    @include mobile {
        height: auto;
        padding: 1px 5px;
    }

    &__destination {
        width: 280px;

        @include mobile {
            float: left;
            width: 72%;
        }
    }

    &__item {
        flex: 1;
    }

    &__submit {
        width: 80px;

        @include mobile {
            position: absolute;
            right: 0;
            top: 0;
            width: 22%;
            padding: 6px 20px;
        }
    }

    .c-form--inline {
        @include mobile {
            position: relative;
            display: block;
        }
    }

    .c-btn {
        &--picto {
            @include mobile {
                float: left;
                width: 30.3333%;
                margin: {
                    top: 0;
                    left: 1.5%;
                    right: 1.5%;
                }
            }

            @include mobile {
                .c-btn__picto {
                    width: 20px;
                    margin: 0;
                }

                .c-btn__text,
                .c-btn__picto--arrow,
                .c-btn__picto--close {
                    display: none !important;
                }
            }
        }

        &__picto {
            &--close {
                display: none;
            }
        }
    }
}