/* slider
   ========================================================================== */

$c: '.c-slider';

#{$c} {
    position: relative;

    &.js-slider--nomobile {
        .js-compare__img {
            + .js-compare__img {
                @include mobile {
                    display: none;
                }
            }
        }
    }

    &__buttons {
        &_item {
            background: none;
            appearance: none;
            position: absolute;
            z-index: 1;
            top: 45%;
            padding: 5px 10px;
            border: 0;

            &--prev {
                left: 0;
            }

            &--next {
                right: 0;
            }
        }

        &_picto {
            width: 20px;
        }
    }
}