/* travelers
   ========================================================================== */

$c: '.c-travelers';

#{$c} {
    padding: 30px;
    
    &__wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        @include mobile {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include mobile {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__text {
        position: relative;
        width: 100px;
        color: $color__grey;
        font-size: $fz14;

        &_sub {
            position: absolute;
            left: 0;
            bottom: -15px;
            color: $color__light-grey;
            font-size: $fz14;
        }
    }

    &__nb {
        display: flex;
        flex-direction: row;
        align-items: center;

        &_value {
            width: 50px;
            color: $color__blue;
            font-weight: bold;
            text-align: center;
        }
    }
}