/* base
   ========================================================================== */

// base reset
*,
::before,
::after {
    box-sizing: inherit;
}

:focus {
    outline-color: $color__black;
}

ul,
ol {
    padding-left: 10px;
}

img {
    vertical-align: middle;
}

blockquote,
figure {
    margin-right: 0;
    margin-left: 0;
}

// base typography
html {
    font-size: $font-size-reset;
}
body {
    font-size: $font-size-regular;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-main;
    color: $color__black;
    background-color: $color__white;
}

a {
    color: $color__black;
    &:hover,
    &:focus,
    &:active {
        color: $color__grey;
        text-decoration: none;
    }
}

button {
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
    font-family: $font-main;
}

p,
.c-p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
caption,
details,
figure {
    margin-top: 10px;
    margin-bottom: 0;
    line-height: $line-height;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// headings
h1, .c-h1,
h2, .c-h2,
h3, .c-h3 {
    font-weight: bold;
    color: $color__black;
}

h1, .c-h1,
h2, .c-h2 {
    margin-bottom: 0;
    text-align: center;
}

h1, .c-h1 {
    margin: 0;
    color: $color__white;
    font-size: $fz60;
    font-weight: normal;
    line-height: 1;
    text-align: left;

    @include mobile {
        font-size: $fz30;
    }
}

// base margins
p,
.c-p,
ul,
ol,
dl,
blockquote,
pre,
figure {
    &:first-child {
        margin-top: 0;
    }
}

li p,
li .c-p,
li ul,
li ol {
    margin-top: 0;
}

// base max values
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
    max-width: 100%;
}

a, button, input, select {
    &:focus {
        outline: none;
    }
}