/* forms
   ========================================================================== */

$c: '.c-form';

// form placeholders
%c-btn {
    background-color: $color__blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    appearance: none;
    height: 40px;
    padding: 6px 30px;
    border: 0;
    border-radius: 5px;
    color: $color__white;
    font-size: $fz14;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: $transition;

    &:hover, &:focus {
        background-color: lighten($color__blue, 10%);
        color: $color__white;
    }

    &:disabled {
        background-color: $color__grey !important;
    }
}

// form placeholders
%c-field {
    background-color: $color__white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    appearance: none;
    height: 40px;
    padding: 10px;
    border: 1px solid $color__bd-grey;
    border-radius: 5px;
    color: $color__grey;
    font-size: $fz12;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    transition: $transition;
}

// form buttons
.c-btn {
    @extend %c-btn;

    &--lg {
        height: 50px;
    }

    &--xlg {
        height: 60px;
        font-size: $fz18;
    }

    &--lower {
        text-transform: none;
    }

    &--picto {
        background-color: $color__white;
        padding: 6px 10px;
        border: 1px solid $color__bd-grey;
        color: $color__grey;
        text-transform: none;

        &:hover, &:focus {
            background-color: $color__white;
            color: $color__grey;
        }

        .c-btn__text {
            flex: 1;
            padding-top: 2px;
            font-size: $fz13;
            text-align: left;
        }

        &.js-layer--on {
            .c-btn__picto {
                &--arrow {
                    transform: scaleY(-1);
                }
            }
        }

        &.on {
            background-color: $color__blue;
            color: $color__white;

            g {
                fill: $color__white;
            }
        }
    }

    &--price {
        padding: {
            left: 20px;
            right: 20px;
        }

        @include mobile {
            padding: {
                left: 12px;
                right: 12px;
            }
        }

        .c-btn {
            &__text {
                flex: 1;
                text-align: left;
            }

            &__price {
                font-size: $fz24;
                font-weight: bold;

                @include mobile {
                    font-size: $fz18;
                }

                &--crossed {
                    display: inline-block;
                    padding-top: 8px;
                    margin-right: 8px;
                    font-size: $fz12;
                    text-decoration: line-through;

                    @include mobile {
                        font-size: $fz10;
                    }
                }
            }

            &__picto {
                width: 8px;

                g {
                    fill: $color__white;
                }
            }
        }
    }

    &--bd-blue {
        border-color: $color__blue;
        color: $color__blue;

        &:hover, &:focus {
            color: $color__blue;
        }

        .c-btn__picto {

            g {
                fill: $color__blue;
            }

            &--transport {
                g {
                    fill: $color__white;
                }

                path {
                    stroke: $color__blue;
                }
            }
        }
    }

    &--light {
        background-color: $color__light-blue;

        &:hover, &:focus {
            background-color: darken($color__light-blue, 10%);
        }
    }

    &--light-bd {
        background-color: $color__white;
        border: 1px solid $color__light-blue;
        color: $color__light-blue;

        &:hover, &:focus {
            background-color: $color__white;
            border-color: darken($color__light-blue, 10%);
            color: darken($color__light-blue, 10%);
        }
    }

    &--green {
        background-color: $color__green;

        &:hover, &:focus {
            background-color: lighten($color__green, 10%);
        }
    }

    &--center {
        margin: {
            left: auto;
            right: auto;
        }
    }

    &--travelers {
        background-color: $color__bg-light;
        width: 30px !important;
        height: 30px;
        padding: 1px 10px 10px;
        margin-top: 0 !important;
        color: $color__grey;
        font-size: $fz25;

        @include mobile {
            background-color: $color__white;
        }

        &[disabled] {
            background-color: $color__bg-light !important;
            color: $color__grey;
            opacity: 0.5;
        }
    }

    &__picto {
        justify-content: space-between;
        width: 16px;
        margin-right: 10px;

        &--arrow,
        &--close {
            margin: {
                left: 10px;
                right: 0;
            }
        }

        &--arrow {
            width: 12px;
        }

        &--arrow-right {
            width: 7px;
            margin-left: 15px;

            path {
                fill: $color__white;
            }
        }

        &--close {
            width: 10px;
        }

        g {
            fill: $color__grey;
        }

        &--search {
            width: 20px;
            margin: 0;

            g {
                fill: $color__white;
            }
        }

        &--transport,
        &--no-transport {
            display: none;

            &.on {
                display: block;
            }

            g {
                fill: $color__white;
            }

            path {
                stroke: $color__grey;
            }
        }
    }
}

// form fields
.c-field {
    @extend %c-field;

    &--bd-blue {
        border-color: $color__blue !important;
        color: $color__blue !important;

        &.c-field--search {
            background-image: url($img + 'picto-search-blue.svg');
        }
    }

    &--lg {
        height: 50px;
    }

    &--destination {
        border-color: $color__grey;
        border-radius: 0;
        font-weight: bold;
    }

    &--search {
        background: url($img + 'picto-search.svg') scroll no-repeat 10px center $color__white;
        background-size: 16px;
        padding-left: 36px !important;
    }

    &__rank {
        background: scroll no-repeat 0 center transparent;
        background-size: 20px;
        position: relative;
        display: flex;
        align-items: center;
        min-height: 40px;
        padding-left: 40px;

        &--4 {
            background-image: url($img + 'picto-rank4.svg');
        }

        &--5 {
            background-image: url($img + 'picto-rank5.svg');
        }

        &::before {
            content: '';
            position: absolute;
            background-color: $color__bd-grey;
            left: 30px;
            top: 0;
            display: block;
            width: 1px;
            height: 100%;
        }
    }

    + .easy-autocomplete-container {
        overflow: hidden;

        &::before {
            content: '';
            background: url($img + 'picto-popover.svg') scroll no-repeat 0 0 transparent;
            position: absolute;
            z-index: 1;
            top: 2px;
            left: 50%;
            display: block;
            width: 20px;
            height: 10px;
            margin-left: -10px;
        }

        > ul {
            overflow: hidden;
            border: 1px solid $color__bd-grey;
            border-radius: 10px;
            box-shadow: 0 0 3px 0 rgba($color__grey, 0.2);
            margin-top: 11px;
        }

        li {
            border-top: 1px solid $color__bd-grey !important;

            &:first-child {
                border-top: 0;
            }
        }

        .eac-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            word-break: normal;
        }
    }
}

// form select
.c-select {
    background: url($img + 'picto-arrow-down.svg') scroll no-repeat 96% center $color__white;
    background-size: 12px;
    padding-right: 30px;
}

// form
#{$c} {
    &--inline {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        @include mobile {
            flex-wrap: wrap;
        }

        .c-btn,
        .c-field {
            margin: 0 10px;

            @include mobile {
                margin: 10px 5px;
            }
        }
    }

    &__group {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }

        .c-btn {
            margin: 0;
        }
        
        .c-btn,
        .c-field {
            width: 100%;
            margin-top: 12px;

            &:first-child {
                margin-top: 0;
            }
        }

        .easy-autocomplete {
            width: auto !important;
        }
    }

    &__actions {
        margin-top: 30px;

        @include mobile {
            margin-top: 20px;
        }

        .c-btn {
            width: 100%;
        }
    }
}