/* container
   ========================================================================== */

.container {
    padding: {
        left: 15px;
        right: 15px;
    }
    width: 100%;
    min-width: 1210px;
    max-width: 1210px;
    margin: {
        left: auto;
        right: auto;
    }

    &--sm {
        min-width: 1050px;
        max-width: 1050px;
    }

    &--header {
        padding: {
            left: 15px;
            right: 15px;
        }

        @include mobile {
            padding: {
                left: 0;
                right: 0;
            }
        }
    }

    @include mobile {
        min-width: 320px;
        max-width: 768px;
    }
}