/* layout
   ========================================================================== */

.layout {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 1210px;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;

    @include mobile {
        min-width: 320px;
        max-width: 768px;
    }

    &--compare {
        background-color: $color__bg-light;
    }

    &__footer {
        margin-top: auto;
    }
}