/* section
   ========================================================================== */

.section {
    margin: {
        top: 30px;
        bottom: 30px;
    }
    &--man {
        margin: {
            top: 0;
            bottom: 0;
        }
    }
    &--mtn {
        margin-top: 0;
    }
    &--mbn {
        margin-bottom: 0;
    }
}
