/* utilities
   ========================================================================== */

// utilities screen reader
%u-sr-only {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}

.u-sr-only {
    @extend %u-sr-only;
}

// utilities text
.u-normal {
    font-weight: normal;
}

.u-medium {
    font-weight: 500;
}

// utilities color
.u-grey {
    color: $color__grey;
}

// hidden
.u-hidden {
    display: none !important;
}